@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/**************************** General styles *****************************/
:root {
  --primary-color: #2de38e;
  --secondary-color: #1ec677;
  --gray-bg: #fafafa;
  --font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a.link {
  color: var(--primary-color);
  transition: all ease-in-out;
}

a.link:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

main {
  margin-top: 10vh;
}

main section > .container:not(.hero-mobile, .companies > .container) {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.8);
}
main p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.8);
}

main img:not(.companies > .container img) {
  width: 100%;
}

.btn {
  color: #000;
  background: var(--primary-color);
  font-size: 18px;
  border: 1px Solid var(--primary-color);
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease-in-out;
  outline: none;
}

.btn:hover {
  background: var(--secondary-color);
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

.desktop {
  display: none;
}

@media (min-width: 800px) {
  .mobile {
    display: none;
  }

  .btn {
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 20px;
  }

  main section > .container:not(.hero-mobile, .companies > .container) {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main section > .container > .left-part {
    width: 50%;
    margin-right: 3rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  main section > .container > .right-part {
    width: 50%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media (min-width: 1000px) {
  .btn {
    padding: 10px 35px;
  }
}

/***************************** Header styles *****************************/

.header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .container .logo {
  width: 6.5rem;
  flex: 0.9;
}
.header .mobile-menu .fa-bars {
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
}
.header .nav-link {
  position: relative;
}

.header .nav-link .dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  background: #fff;
  width: 220px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.2s ease-in;
}
.header .nav-link:hover .dropdown {
  transform: scale(1);
}
.header .nav-link > .dropdown > .arrow {
  position: absolute;
  top: -10px;
  left: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255);
}
.header .nav-link > .dropdown > .dropdown-nav-link {
  margin-bottom: 10px;
}
.header .nav-link > .dropdown > .dropdown-nav-link a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  transition: all 0.1s ease-in-out;
}
.header .nav-link > .dropdown > .dropdown-nav-link a:hover {
  color: var(--secondary-color);
  font-weight: 700;
}
/* Media qeury */
@media (min-width: 800px) {
  .header .logo {
    flex: 2;
    margin-right: 3rem;
  }
  .header .nav {
    flex: 5;
    justify-self: flex-start;
  }
  .header .nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 7vh;
  }

  .header .login {
    flex: 3;
    justify-self: flex-end;
  }

  .header .login-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header .login-link {
    display: block;
  }

  .header .nav-link {
    margin-right: 1.8rem;
    height: 7vh;
  }
  .header .nav-links > .nav-link:last-child {
    margin-right: 0;
  }

  .header .nav-link > a {
    color: #000;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
    height: 7vh;
    display: flex;
    align-items: center;
  }
  .header .nav-link > a:hover {
    color: var(--secondary-color);
  }
}

/************************ Mobile menu nav *************************/
.mobile-menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #fff;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.mobile-menu-nav.show {
  transform: translateX(0);
}
.scroll-lock {
  overflow-y: hidden;
}

.mobile-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.border-line {
  border-bottom: 2px solid var(--secondary-color);
}

.mobile-menu-nav .mobile-nav-logo > img {
  width: 6.5rem;
}

.mobile-menu-nav .close-btn {
  font-size: 1.8rem;
  color: var(--primary-color);
  cursor: pointer;
}
.mobile-menu-nav .mobile-nav-body {
  height: 78vh;
  max-height: 78vh;
  width: 100%;
  overflow-y: scroll;
}
.mobile-menu-nav .mobile-nav-body ul li {
  margin: 0.9rem 0;
}

.mobile-menu-nav .mobile-nav-body ul a {
  color: rgba(0, 0, 0, 0.8);
  transition: all ease-in-out;
}
.mobile-menu-nav .mobile-nav-body ul a:hover {
  color: var(--secondary-color);
}

.mobile-menu-nav .mobile-nav-body .mobile-nav-link-header {
  font-size: 20px;
  font-weight: 700;
  margin: 1.5rem 0;
}

.mobile-menu-nav .mobile-nav-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 12vh;
  display: flex;
}
.mobile-menu-nav .mobile-nav-cta .mobile-nav-login:first-child {
  border-right: 1px solid #fff;
}
.mobile-menu-nav .mobile-nav-cta .mobile-nav-login:last-child {
  border-left: 1px solid #fff;
}
.mobile-menu-nav .mobile-nav-cta > .mobile-nav-login {
  background: var(--primary-color);
  border: none;
  color: #fff;
  font-size: 20px;
  width: 50%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.mobile-menu-nav .mobile-nav-cta > .mobile-nav-login:hover {
  background: var(--secondary-color);
}

/************************ Hero ***********************/
.hero-mobile {
  padding-bottom: 30px;
}

.hero-mobile > .container > h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-mobile .hero-image-mobile {
  width: 300px;
  margin: auto;
  z-index: -99;
  position: relative;
}

.hero-mobile .get-started-form-mobile {
  background: #fff;
  margin-top: -3.5rem;
  margin-bottom: 20px;
}

.get-started-form-mobile > input,
.get-started-form > input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  outline: none;
  background: #fafafa;
}

.get-started-form-mobile > input::placeholder,
.get-started-form > input::placeholder {
  opacity: 0.6;
}

.get-started-form-mobile > button,
.get-started-form > button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  margin-top: 10px;
}

.hero-mobile p,
.hero sub {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.hero-mobile p.about,
.hero sub.about {
  font-weight: 700;
}

/* Media qeury */
@media (min-width: 800px) {
  .hero.desktop {
    display: block;
  }
  .hero > .container {
    flex-direction: row;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .get-started-form {
    margin: 2rem 0 1rem 0;
  }
  .get-started-form > button {
    width: 200px;
    padding: 12px 13px;
  }
  .get-started-form > input {
    padding: 12px 20px;
  }
}
@media (min-width: 1000px) {
  .hero h1 {
    font-size: 4rem;
  }
  .get-started-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .get-started-form > button {
    margin-top: 0;
    margin-left: 1rem;
  }
}

/************************** Companies ***************************/
.companies {
  background: var(--gray-bg);
  padding: 40px 0;
}

.companies > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.companies > .container img {
  height: 25px;
  margin: 5px 10px;
}

/* Media query */
@media (min-width: 1000px) {
  .companies > .container img {
    height: 35px;
    margin: 5px 15px;
  }
  .companies > .container {
    justify-content: space-between;
  }
}

/**************************** Paid early *************************/
.paid-early {
  background: var(--gray-bg);
}

.paid-early > .container .right-part {
  order: 1;
  margin-top: 40px;
}

/************************** Fee free ******************************/
.fee-free > .container .right-part {
  margin-top: 30px;
}

/***************************** Credit builder ****************************/
.credit-builder {
  background: var(--gray-bg);
}

.credit-builder > .container .right-part {
  order: 1;
  margin-top: 30px;
}

/************************** Grow fast ********************************/
.grow-fast > .container .right-part {
  margin-top: 30px;
}

/*************************** Alerts *******************************/
.alerts {
  background: var(--gray-bg);
}
.alerts > .container .left-part {
  order: 1;
  margin-top: 40px;
}

/************************** Security ****************************/
.security-mobile > .container > img {
  width: 200px !important;
  margin: 20px auto;
}

.security-mobile h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.security-mobile p {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
}

/*************************** Get started ****************************/
.get-started {
  background: #f0fbf5;
}

.get-started > .container .right-part {
  margin-top: 40px;
}

/*************************** Footer ***************************/
.footer {
  padding: 40px 0;
}

.footer .footer-nav-header {
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  margin-bottom: 20px;
}

.footer .footer-nav-item {
  margin-bottom: 20px;
}

.footer .footer-nav-item:last-child {
  margin-bottom: 30px;
}

.footer .footer-nav-item a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  transition: all ease-in-out;
}

.footer .footer-nav-item a:hover {
  color: var(--secondary-color);
}

.footer .footer-nav-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.footer .footer-nav-social > div {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.footer .footer-nav-social > div:hover {
  opacity: 0.7;
}

.footer .footer-nav-social .facebook {
  background: #3c579e;
}
.footer .footer-nav-social .twitter {
  background: #55acee;
}
.footer .footer-nav-social .instagram {
  background: linear-gradient(to top right, #f4a617, #a01acb);
}

.footer .footer-nav-social > div > a {
  color: #fff;
  font-size: 35px;
}
.footer .footer-nav-social > div > a:hover {
  color: #fff;
}

.footer .footer-text {
  color: rgba(0, 0, 0, 0.4);
}

.footer .footer-text sub {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
}

/* Media query */
@media (min-width: 800px) {
  .footer {
    padding: 5rem 0;
  }
  .footer .footer-nav,
  .footer .footer-nav-links {
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-nav-links {
    flex: 0.9;
  }
  .footer .footer-nav {
    margin-bottom: 1rem;
  }
  .footer .footer-nav-social {
    width: 200px;
  }
}
